# Turso
DATABASE_PROVIDER=local
TURSO_AUTH_DATABASE_URL=dummy
TURSO_AUTH_DATABASE_AUTH_TOKEN=dummy
TURSO_PLATFORM_API_TOKEN=dummy
TURSO_ORGANIZATION=dummy

# Sentry
NEXT_PUBLIC_SENTRY_DSN=dummy
SENTRY_AUTH_TOKEN=dummy
SENTRY_ORG=dummy
SENTRY_PROJECT=dummy

# Better Auth
BETTER_AUTH_SECRET=dummy
BETTER_AUTH_URL=dummy
NEXT_PUBLIC_BETTER_AUTH_URL=dummy
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
