save-exact=true
strict-peer-dependencies=true
save-workspace-protocol=rolling

# Sentry使用時の "Package require-in-the-middle can't be external" エラー対応
# https://docs.sentry.io/platforms/javascript/guides/nextjs/troubleshooting/
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*