name: Merge Master

on:
  workflow_run:
    workflows: ["PR Push check"]
    types: [completed]
  pull_request:
    types: [auto_merge_enabled]
  push:
    branches: [main]

concurrency:
  group: merge-master

jobs:
  merge-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: get-app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: praha-inc/merge-master@4e07f5941be6576eedaa77764b349de1f18d4350 # v1.1.1
        with:
          github-token: ${{ steps.get-app-token.outputs.token }}
