name: PR Push check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build-and-type-check:
    name: Build and Type check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Pull Vercel Environment
        run: |
          npx vercel pull --yes --environment=preview --token=$VERCEL_TOKEN

      - name: Build
        run: |
          set -a
          source .vercel/.env.preview.local
          set +a
          pnpm run build

      - name: Type check
        run: pnpm run type-check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Lint
        run: pnpm run lint
