name: PR Push check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Type check
        run: pnpm run type-check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Lint
        run: pnpm run lint
